@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.distrack {
    color: #e71232;
}

.typing span{
    font-size: 30px;
    color: white;
}

#element {
    font-weight: 600;
    color: rgb(255, 0, 8);
}

@media screen and (max-width: 680px) {
    .typing span {
        font-size: 25px;
    }
}

.header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.header-scrolled {
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    background: rgba(0, 0, 0, 0.8);
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navlist {
    display: flex;
}

.navlist a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #1b307d 0%, #38703d 28.53%, #151339 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    transition: all 0.5s ease;
}

section {
    padding: 0 19%;
    overflow: hidden;
}

.hero-text h5 {
    font-size: 25px;
    font-weight: 400;
    color: white;
    margin-bottom: 4px;
}

.hero-text h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 60px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.hero-text h4 {
    font-size: 25px;
    font-weight: 600;
    color: white;
    margin-bottom: 2px;
}

.hero-text p {
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-img img {
    width: 300px;
    height: auto;
}

.hero-text a {
    display: inline-block;
    color: white;
    background: #4d9559;
    border: 1px solid tranparent;
    padding: 12px 40px;
    margin: 0 15px;
    line-height: 1.4;
    font-size: 12px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.55s ease;
}

.hero-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

/* .hero-text a.ctaa {
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
} */

.hero-text a.ctaa i {
    vertical-align: middle;
    margin-right: 5px;
}

.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    color: white;
    font-size: 24px;
    transition: all .50s ease;
}

.icons i:hover {
    color: #4d9559;
    transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 9%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 20px;
    color: white;
    background: #784d95;
    border-radius: 30px;
    transition: all .50s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

@media (max-width:1535px) {
    .header {
        padding: 15px 3%;
    }

    .icons {
        padding: 0 3%;
        transition: .2s;
    }

    .scroll-down {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width:1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width:1340px) {
    .header a {
        margin-left: 55px;
    }

    .hero-img img {
        width: 60%;
        height: auto;
        padding-right: 20px;
        float: right;
    }

    .hero-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }

    .hero-text h5 {
        margin-bottom: 5px;
    }
}

@media (max-width:1195px) {

    .hero-text {
        margin-left: 25px;
    }

    section {
        padding: 0 3%;
        transition: .3s;
    }

    .hero {
        min-height: 100vh;
    }

    .hero-text {
        padding-top: 115px;
    }

    .hero-img {
        text-align: center;
    }

    .hero-img img {
        display: none;
        width: 350px;
        height: auto;
        float: none;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .icons {
        display: none;
    }

    .scroll-down {
        display: none;
    }
}

@media (max-width:990px) {

    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        /* height: 50vh; */
        border-radius: 10px;
        margin-right: 15px;
        background: #52b8b6;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 40px 20px;
        transition: all .55s ease;
    }

    .navlist a {
        font-size: 17px;
        display: block;
        margin: 10px 0;
        margin-left: 0;
        padding: 8px 0;
    }

    .navlist a:hover {
        font-size: 22px;
    }

    .navlist.open {
        right: 0;
    }
}

@media (max-width:680px) {
    .hero-img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 50px;
    }

    .hero-text h4,
    .hero-text h5 {
        font-size: 20px;
    }

    .hero-text a {
        font-size: 10px;
        padding: 10px 28px;
        margin: 0 10px;
    }
}


/* ABOUT */

.about {
    background: #2a9d8f;
    padding-bottom: 55px;
}

.about h1 {
    padding: 30px 5px;
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.about h1 hr {
    height: 5px;
    width: 102px;
    border: 5px solid white;
}

.row {
    color: white;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 35%;
}

.column.side img {
    width: 280px;
    height: auto;
    border-radius: 0.9rem;
    transition: transform ease-in 0.9s;
}

.column.side img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.column.middle {
    width: 65%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:900px) {
    .column.side img {
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width:770px) {
    .column.side img {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width:600px) {

    .about h1 {
        font-size: 34px;
    }

    .about h1 hr {
        width: 100px;
        border: 3px solid white;
    }

    .column.side,
    .column.middle {
        width: 100%;
    }

    .column.side img {
        position: relative;
        left: 21%;
        width: auto;
        height: 50%;
        padding: 0 15px;
    }

    .icons {
        display: flex;
        margin: 20em 0 0 0;
        justify-content: right;
        left: 12%;
    }

    .icons i {
        padding: 0 15px;
    }

    .icons i:hover {
        color: #4d9595;
        transform: translateY(-5px);
    }

}

@media screen and (max-width: 465px) {
    .column.side img {
        left: 10%;
        height: 37%;
    }
}

@media screen and (max-width: 400px) {
    .column.side img {
        left: 8%;
    }
}


/* SKILLS */

.skills {
    padding-top: 15px;
    background: #003049;
}

.skills h4 {
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    margin: 5px 0;
}

.skills h1 {
    margin: 10px;
    font-size: 2.3em;
    color: white;
}

.skills h1 hr {
    width: 4rem;
    background: rgb(255, 255, 255);
    height: 5px;
}

.skills h4 i {
    color: white;
    padding: 0 5px 0 0;
}

.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    color: white;
}

.row1 .box {
    background: red;
    padding: 20px 0;
    margin: 10px;
    height: 450px;
    width: 300px;
    transition: all ease-in 0.2s;
}

.row1 .box:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px #adff02;
}

.s1 {
    text-align: center;
    padding: 0 15px;
}

.s1 h3 .underline {
    position: relative;
    left: 37%;
    height: 2px;
    width: 70px;
    background: white;
    border: 1px solid white;
}

.s1 span,
.s2 span,
.s3 span {
    background: white;
    padding: 17px 21px;
    border-radius: 1500%;
    margin: 25px 0 0 0;
    font-size: 50px;
}

.para {
    font-weight: 500;
    margin-top: 18px;
}

.quote {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -14px;
}

.images {
    width: 90px;
    margin-top: 15px;
    padding: 10px;
    background: white;
    border-radius: 200px;
    transition: all 0.5s;
}

.images:hover {
    width: 110px;
}

.underline2 {
    position: relative;
    left: 30%;
    height: 2px;
    width: 110px;
    background: white;
    border: 1px solid white;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0vh;
    color: #ccc;
    font-family: sans-serif;
    font-size: 18px;   
}

@media screen and (max-width:680px) {

    .skills h4, .skills h1 {
        padding-left: 15px;
    }

    .row1 .box .s1 h3 {
        font-size: 0.9rem ;
    }

    .row1 .box {
        height: 400px;
        width: 250px;
    }

    .row1 .box .s1 hr {
        width: 4rem;
    }

    .container {
        margin: 20px auto 5px auto;
        width: 100px;
    }

    .para {
        font-size: 0.8rem;
    }

    .quote {
        font-size: 15px;
    }

    .skills {
        padding: 50px 0;
    }
}

/* progress bar 1*/

.container {
    margin: 20px auto 5px auto;
    width: 200px;
    text-align: center;
}

.progress2 {
    padding: 3px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
    height: 10px;
    border-radius: 30px;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    width: 90%;
    background-color: #13f30c;
    animation: progressAnimation 6s;
}

@keyframes progressAnimation {
    0% {
        width: 5%;
        background-color: red;
    }

    100% {
        width: 90%;
        background-color: #13f30c;
    }
}

/* progress bar 2 */

.progress {
    padding: 3px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 10px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-striped .progress-bar {
    background-color: #FCBC51;
    width: 85%;
    background-image: linear-gradient(45deg, rgb(252, 163, 17) 25%,
            transparent 25%, transparent 50%,
            rgb(252, 163, 17) 50%, rgb(252, 163, 17) 75%,
            transparent 75%, transparent);
    animation: progressAnimationStrike1 6s;
}

@keyframes progressAnimationStrike1 {
    from {
        width: 0
    }

    to {
        width: 85%
    }
}

/* progress bar 3 */

.progress3 {
    padding: 3px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar3 {
    height: 10px;
    background-color: #443738;
    border-radius: 4px;
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-striped3 .progress-bar3 {
    background-color: #d8f617;
    width: 70%;
    background-image: linear-gradient(45deg, rgb(252, 163, 17) 25%,
            transparent 25%, transparent 50%,
            rgb(252, 163, 17) 50%, rgb(252, 163, 17) 75%,
            transparent 75%, transparent);
    animation: progressAnimationStrike 6s;
}

@keyframes progressAnimationStrike {
    from {
        width: 0
    }

    to {
        width: 70%
    }
}

/* Progress bar 4 */

.range {
    position: relative;
    background-color: #333;
    width: 250px;
    height: 20px;
    transform: skew(30deg);
    font-family: 'Orbitron', monospace;
    margin: 30px 0;

    &:before{
        --width: calc(var(--p) * 1%);

        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #F3E600;
        z-index: 0;
        animation: load 1.9s forwards linear, glitch 2s infinite linear;
    }

    &:after {
        counter-reset: progress var(--p);
        content: counter(progress) '%';
        color: #ffffff;
        position: absolute;
        left: 79%;
        top: 50%;
        transform: translateY(-50%) skewX(-30deg);
        z-index: 1;
    }

    &__label {
        transform: skew(-30deg) translateY(-100%);
        line-height: 1.5;
    }
}

@keyframes load {
    to {
        width: var(--width);
    }
}

/* @keyframes glitch {

    0%,
    5% {
        transform: translate(0, 0);
    }

    1% {
        transform: translate(-5%, -10%);
    }

    2% {
        transform: translate(10%, 30%);
    }

    3% {
        transform: translate(-43%, 10%);
    }

    4% {
        transform: translate(2%, -23%);
    }
} */

@media screen and (max-width:680px) {
    .skills h4 {
        font-size: 1rem;
    }

    .skills h1 {
        font-size: 1.9rem;
    }
}


/* Projects */

.projects {
    padding-bottom: 20px;
    background: #003049;
}

.projects .pro-image {
    background-image: url("img/pro-bg.jpg");

  /* Use filter to add blur effect */
  backdrop-filter: blur(6px);
  
  height: 100%;

  position: absolute;
  /* Center the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects h4 {
    color: white;
    font-size: 22px;
    font-weight: 200;
}

.projects h4 i{
    color: white;
    font-size: 28px;
    padding: 0 10px;
}

.projects h2 {
    color: white;
    font-size: 30px;
}

.projects h2 hr {
    height: 3px;
    background: white;
}

.project-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.5rem;
    margin: 5rem 0;
    z-index: 1000;
}

.row5 {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row5 img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 15px;
    transition: height 0.5s;
}

.layer h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 10px;
    color: white;
}

.layer p {
    color: white;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: red;
    margin-top: 15px;
    font-size: 15px;
    background: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.2s;
}

.row5:hover img {
    transform: scale(1.1);
}

.row5:hover .layer {
    height: 100%;
}

.layer i:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 1040px) {
    .layer h5{
        margin-top: 72px;
    }
}

@media screen and (max-width: 900px) {
    .layer h5{
        margin-top: 20px;
    }
}

/* Contact */

.contact {
    padding: 50px;
    background: #023e8a;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.contact-text h3 {
    color: white;
    font-size: 30px;
    padding: 30px 0;
    line-height: 1;
}

.contact-text h4 {
    color: white;
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: white;
    font-size: 12px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 2.8rem;
}

.list li {
    margin-bottom: 12px;
}

.list li a {
    display: block;
    color: white;
    font-size: 14px;
    transition: all 0.5s ease;
}

.list li a:hover {
    color: red;
    transform: translateX(5px);
}

.contact-icon i {
    height: 45px;
    width: 45px;
    color: white;
    background: red;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all 0.5s ease;
}

.contact-icon i:hover {
    background: white;
    color: red;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    width: 100%;
    padding: 14px;
    background: #2b2d42;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.contact-form textarea{
    resize: none;
    height: 240px;
}

.contact-form .submit {
    display: inline-block;
    font-size: 16px;
    background: red;
    color: white;
    width: 160px;
    transition:  all 0.5s ease;
}

.contact-form .submit:hover {
    transform: scale(1.1);
    cursor: pointer;
} 

@media screen and (max-width: 810px) {
    .contact {
        grid-template-columns: repeat(1, 1fr)
    }
}

@media screen and (max-width: 680px) {
    .contact-form form input {
        height: 40px;
        font-size: 12px;
    }

    .contact-form textarea {
        font-size: 12px;
    }
}

/* Footer */

.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    background: #272635;
}

.last-text p{
    color: white;
    font-size: 14px;
}

.top i {
    padding: 10px;
    border-radius: 15px;
    color: white;
    background: red;
    transition: all 0.5s ease;
}


